@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  min-width: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.modal-enter {
  opacity: 0;
  transform: translateY(10px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}


@layer utilities{
  .main-text {
    color: #242933;
  }
  .secondary-text {
    --tw-text-opacity: 1;
     color: rgb(75 85 99 / var(--tw-text-opacity));
  }
}