@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  min-width: 0;
}

@layer utilities{
  .main-text {
    color: #242933;
  }
  .secondary-text {
    --tw-text-opacity: 1;
     color: rgb(75 85 99 / var(--tw-text-opacity));
  }
}